Flask
Flask-SQLAlchemy
Flask-Migrate

# image I/O & processing
opencv-python-headless
pydicom

# numerical & data libraries
numpy
pandas

# image-drawing (PIL)
Pillow

scikit-image
scikit-learn
python-dotenv
requests

# Deployment
gunicorn
psycopg2-binary
