Flask
Flask-SQLAlchemy
Flask-Migrate

# image I/O & processing
opencv-python-headless
pydicom

# numerical & data libraries
numpy
pandas

# image-drawing (PIL)
Pillow

# GMM / machine-learning
scikit-learn
