{% extends 'base.html' %}

{% block title %}Editor{% endblock %}

{% block content %} 
<script type="module" src="{{ url_for('static', filename='js/editor/editor.js') }}"></script>
<img id="slide-img"
         alt="Slide 1"
         style="max-width:100%; height:auto; border:1px solid #ccc; padding:10px; display:none" />
<div class="editor"> </div>

<script type="module">
    const datasetId = "{{ dataset_id | tojson }}";
    const paths = await getDatasetImagePaths();
    
    if (paths.length > 0) {
      const firstImageUrl = urlFetchImage(paths[0]); // your custom function
      const slideImg = document.getElementById("slide-img");
      slideImg.src = firstImageUrl;
    }

    async function getDatasetImagePaths() {
      let paths = [];
      try {
        const res = await fetch(urlReadDataset(datasetId));
        if (!res.ok) throw new Error("Failed to fetch dataset");
  
        const data = await res.json();
        paths = data.resources.map(r => r.path);
      } catch (error) {
        console.error("Error loading images:", error);
      }

      return paths
    }
</script>
{% endblock %}