{% extends 'base.html' %}
{% block title %}Workspace – {{ file.path }}{% endblock %}

{% block content %}
  <div class="container">
    <a href="{{ url_for('uploads.upload') }}" class="button go-back">Go Back</a>

    <div class="header">
     <a href="{{ url_for('uploads.download_processed', file_id=file.id) }}" class="button">
       Download
     </a>
      <a href="{{ url_for('uploads.reset', file_id=file.id) }}" class="button">Reset</a>
     <a href="{{ url_for('uploads.undo',   file_id=file.id) }}" class="button">Undo</a>
    </div>

    <div class="workspace">
      <form
        action="{{ url_for('uploads.apply_filter', file_id=file.id) }}"
        method="post"
        class="filters"
      >
        {% for name in filter_names %}
          <button
            name="filter_name"
            value="{{ name }}"
            {% if name not in allowed_filters %}disabled{% endif %}
          >
            {{ name }}
          </button>
        {% endfor %}
      </form>

      <div class="image-container">
        <img src="data:image/png;base64,{{ img }}" style="max-width:100%;" />
      </div>
    </div>

    <div class="process-log">
      <h3>Process History:</h3>
      <ul>
        {% for step in processes %}
          <li>{{ step }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
